.navbar{
  position: fixed;
  left:0;
  right:0;
  top:0;
  z-index: 999;
  background-color: rgba($light-gray,1);
  height:$navbar-height;

  .navbar-brand{
    img{
      width:38px;
    }
  }

  .navbar-nav{
    .active{
      font-weight: bold;
    }

    .nav-link{
      &:hover{
        text-decoration: underline;
      }
    }
  }

  .navbar-collapse{

    @include media-breakpoint-down(md) {
      border:1px solid $light-brown;
      background-color: $light-gray;
    }
  }
}